DOMAIN_NAME=your_login.42.fr
WP_ADMIN=example-user
WP_ADMIN_PASS=example-password
WP_ADMIN_EMAIL=admin@example.com
WP_USER=example-user
WP_USER_PASS=example-password
FTP_USER=example-user
FTP_USER_PASS=example-password
